body {
  margin: 0;
  overflow-x: hidden;
}

.home {
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
}

.introduction {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.hello {
  text-align: left;
  margin: 1rem;
  flex: 1;
}

.hello-text {
  font-size: 1.2em;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
}

.hello-big {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.boyLaptop-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 280px; /* Minimum size */
  width: 100%;
  max-width: 700px;
  margin: 1rem;
}

.boyLaptop {
  width: 100%;
  height: auto;
  max-width: 700px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.social-media a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: inherit;
  transition: transform 0.3s;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 20%;
  background-color: aliceblue;
}

.social-media a:hover {
  transform: scale(1.2);
}

.whatDoIDo {
  width: 100%;
  padding: 1.25rem;
  background-color: #ffffff;
  margin-top: 6.25rem;
  box-sizing: border-box;
}

.whatDoIDo-text {
  text-align: center;
  margin-bottom: 1.25rem;
  font-size: 3rem;
}

.DSA, .webdev, .backend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  padding: 1.875rem;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.DSA-image, .webdev-image, .backend-image {
  flex: 1;
  padding-right: 1.25rem;
  max-width: 100%;
  box-sizing: border-box;
}

.DSA-image img, .webdev-image img, .backend-image img {
  width: 100%;
  height: auto;
}

.webdev-image img {
  width: auto;
  height: 31.25rem;
  max-width: 100%;
}

.DSA-text, .webdev-text, .backend-text {
  flex: 2;
}

.webdev-text, .backend-text {
  margin-left: 6.25rem;
}

.DSA-text h2, .webdev-text h2, .backend-text h2 {
  font-size: 2em;
  margin-bottom: 0.625rem;
}

.DSA-text ul, .webdev-text ul, .backend-text ul {
  list-style: none;
  padding: 0;
}

.DSA-text li, .webdev-text li, .backend-text li {
  font-size: 1.2em;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
}

@media (max-width: 1200px) {
  .hello {
    margin-left: 3.125rem;
  }

  .boyLaptop-container {
    width: 100%;
    margin-right: 0;
  }

  .DSA-image, .webdev-image {
    margin-left: 3.125rem;
  }

  .webdev-image img {
    margin-right: 6.25rem;
  }
}

@media (max-width: 768px) {
  .introduction, .DSA, .webdev {
    flex-direction: column;
    align-items: flex-start;
  }

  .hello {
    margin-left: 1.25rem;
  }

  .social-media {
    width: 100%;
    justify-content: center;
  }

  .DSA-image, .webdev-image {
    margin-left: 0;
    padding-right: 0;
    width: 100%;
    order: 2;
  }

  .DSA-text, .webdev-text {
    order: 1;
    width: 100%;
  }

  .webdev-image img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .DSA-image img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .hello {
    margin-left: 0.625rem;
  }

  .whatDoIDo-text {
    font-size: 2rem;
  }

  .DSA-text h2, .webdev-text h2 {
    font-size: 1.5em;
  }

  .DSA-text li, .webdev-text li {
    font-size: 1em;
  }
}
