/* src/components/Navbar/navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Bad+Script&display=swap');

.navbar {
    background-color: white;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    margin-left: 100px;
    color: black;
    font-size: 4.5rem;
    font-family: "Allura", cursive;
   font-weight: 400;
   font-style: normal;
    font-weight: 900;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar-menu li {
    display: inline;
    margin-right: 60px;
}

.navbar-menu a {
    position: relative;
    text-decoration: none;
    
    font-size: 2rem;
    font-weight: 700;
    color: rgb(125, 121, 121);
  }
  
  .navbar-menu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 4px; /* Adjust the height of the underline */
    bottom: -2px; /* Position the underline slightly below the text */
    left: 0;
    background-color:rgb(125, 121, 121);
    transition: width 0.3s ease-in-out; /* Duration of the underline effect */
  }
  
  .navbar-menu a:hover::after {
    width: 100%;
  }
